# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Generated build files
lab01/lab01_material/part1/me132_tutorial_player/me132_tutorial_0
lab01/lab01_material/part1/me132_tutorial_player/me132_tutorial_1